/* styles.css */
:root {
    --iframe-top: -195px; /* Adjust to hide the first row */
    --iframe-left: -60px; /* Adjust to hide the first column */
    --iframe-bottom: 100px; /* Adjust to hide the bottom part */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #232f3e; /* Amazon dark blue */
    color: #f3f3f3; /* Amazon light gray */
}

header {
    background-color: #232f3e; /* Amazon dark blue */
    color: #f3f3f3; /* Amazon light gray */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ff9900; /* Amazon orange */
}

#amazon-logo {
    width: 150px;
    height: auto;
}

.iframe-container {
    position: relative;
    width: 90%;
    height: 800px; /* Adjust height as needed */
    overflow: hidden;
    background-color: #232f3e; /* Amazon dark blue background */
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 20px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visual effect */
}

.iframe-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--iframe-bottom);
    background: #232f3e; /* Matches background color to hide cropped area */
}

.iframe-container iframe {
    position: absolute;
    top: var(--iframe-top); /* Use variable for top cropping */
    left: var(--iframe-left); /* Use variable for left cropping */
    width: calc(100% + 60px); /* Ensure width covers the full content including cropped column */
    height: calc(100% + var(--iframe-bottom)); /* Adjust height to cover the full height including cropped row */
    border: none;
    border-radius: 20px; /* Rounded corners for the iframe */
}
